#admin-notice {
    height: 44px;
    text-align: center;
    background-color: #e2e2f6;
    color: #6264a7;
    font-weight: 600;
    border-radius: 0;

    button a {
        color: #ffffff;
        text-decoration: none;
    }
}